@font-face {
  font-family: 'Widgricon';
  src: url('/src/assets/scss/icons/fonts/Widgricon.eot');
  src: url('/src/assets/scss/icons/fonts/Widgricon.eot') format('embedded-opentype'),
    url('/src/assets/scss/icons/fonts/Widgricon.ttf') format('truetype'),
    url('/src/assets/scss/icons/fonts/Widgricon.woff') format('woff'),
    url('/src/assets/scss/icons/fonts/Widgricon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: var(--icon-family);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accordion:before {
  content: '\e92c';
}
.icon-anchor:before {
  content: '\e92d';
}
.icon-asterisk:before {
  content: '\e92e';
}
.icon-custom-form:before {
  content: '\e934';
}
.icon-template:before {
  content: '\e944';
}
.icon-earth-solid:before {
  content: '\e937';
}
.icon-earth:before {
  content: '\e938';
}
.icon-filter:before {
  content: '\e93a';
}
.icon-grid-view-small:before {
  content: '\e93d';
}
.icon-grid-view:before {
  content: '\e917';
}
.icon-grid-view-solid:before {
  content: '\e93e';
}
.icon-icon:before {
  content: '\e93f';
}
.icon-layout:before {
  content: '\e940';
}
.icon-small-list:before {
  content: '\e943';
}
.icon-trash-bin-small:before {
  content: '\e946';
}
.icon-thick-2px:before {
  content: '\e90c';
}
.icon-avatar:before {
  content: '\e904';
}
.icon-button:before {
  content: '\e905';
}
.icon-calendar:before {
  content: '\e906';
}
.icon-caret-down:before {
  content: '\e900';
}
.icon-caret-left:before {
  content: '\e931';
}
.icon-caret-right:before {
  content: '\e908';
}
.icon-caret-up:before {
  content: '\e909';
}
.icon-arrow-down:before {
  content: '\e907';
}
.icon-arrow-left:before {
  content: '\e9012';
}
.icon-arrow-right:before {
  content: '\e902';
}
.icon-arrow-up:before {
  content: '\e903';
}
.icon-checkmark:before {
  content: '\e90a';
}
.icon-close-small:before {
  content: '\e933';
}
.icon-close:before {
  content: '\e90b';
}
.icon-form:before {
  content: '\e901';
}
.icon-draggable-1:before {
  content: '\e90d';
}
.icon-draggable-2:before {
  content: '\e90e';
}
.icon-engine:before {
  content: '\e90f';
}
.icon-exclamation-mark:before {
  content: '\e910';
}
.icon-eye-closed:before {
  content: '\e911';
}
.icon-eye:before {
  content: '\e912';
}
.icon-floppy-disk:before {
  content: '\e913';
}
.icon-focal-point:before {
  content: '\e914';
}
.icon-folder:before {
  content: '\e915';
}
.icon-folder-solid:before {
  content: '\e93c';
}
.icon-form2:before {
  content: '\e916';
}
.icon-hamburger:before {
  content: '\e918';
}
.icon-heading:before {
  content: '\e919';
}
.icon-horizontal-dots:before {
  content: '\e91a';
}
.icon-iframe:before {
  content: '\e91b';
}
.icon-image:before {
  content: '\e91c';
}
.icon-info:before {
  content: '\e91d';
}
.icon-list-view-solid:before {
  content: '\e941';
}
.icon-list-view:before {
  content: '\e91e';
}
.icon-magnifying-glass:before {
  content: '\e923';
}
.icon-moon:before {
  content: '\e920';
}
.icon-pencil:before {
  content: '\e921';
}
.icon-plus:before {
  content: '\e922';
}
.icon-plus-small:before {
  content: '\e942';
}
.icon-question-mark:before {
  content: '\e91f';
}
.icon-quote:before {
  content: '\e924';
}
.icon-sign-out:before {
  content: '\e925';
}
.icon-sun:before {
  content: '\e926';
}
.icon-text:before {
  content: '\e927';
}
.icon-trash-bin:before {
  content: '\e928';
}
.icon-upload:before {
  content: '\e929';
}
.icon-vertical-dots:before {
  content: '\e92a';
}
.icon-video:before {
  content: '\e92b';
}
.icon-big-list:before {
  content: '\e930';
}
.icon-big-list-solid:before {
  content: '\e92f';
}
