@import './vendors/normalize';
@import './vendors/reset';

@import './themes/default';
@import './themes/seafoam';
@import './icons/style';

.wg3 {
  min-height: 100vh;
  background-color: var(--color-x-11);
  color: var(--color-x-1);
  font-family: var(--font-family);
  font-size: var(--font-size);
  @media screen and (max-width: #{$mobile-brakepoint}) {
    font-size: var(--font-size-xs);
  }
  ::selection {
    background: var(--color-b-3);
  }
}