@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i');

:root {
  /* Custom Family */
  --font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  
  /* Primary color props */
  --color-a-1: hsl(248, 80%, 64%, 1);
  --color-a-2: hsla(248, 100%, 70%, 1);
  --color-a-3: hsla(248, 100%, 73%, 1);
  --color-a-4: hsla(248, 80%, 64%, 0.41);
  --color-a-5: hsla(248, 80%, 64%, 0.28);
  --color-a-6: hsla(248, 80%, 64%, 0.12);
  --color-a-7: hsla(248, 80%, 64%, 0.06);
  /* Secondary color props */
  --color-b-1: hsl(154, 90%, 44%);
  --color-b-2: hsla(154, 87%, 49%, 1);
  --color-b-3: hsla(154, 98%, 52%, 1);
  --color-b-4: hsla(154, 90%, 44%, 0.41);
  --color-b-5: hsla(154, 90%, 44%, 0.28);
  --color-b-6: hsla(154, 90%, 44%, 0.12);
  --color-b-7: hsla(154, 90%, 44%, 0.06);
}

.dark {
  /* Primary dark color props */
  --color-a-1: hsla(154, 90%, 44%, 1);
  --color-a-2: hsla(154, 87%, 49%, 1);
  --color-a-3: hsla(154, 98%, 52%, 1);
  --color-a-4: hsla(154, 90%, 44%, 0.41);
  --color-a-5: hsla(154, 90%, 44%, 0.28);
  --color-a-6: hsla(154, 90%, 44%, 0.12);
  --color-a-7: hsla(154, 90%, 44%, 0.06);
  /* Secondary dark color props */
  --color-b-1: hsl(248, 80%, 64%, 1);
  --color-b-2: hsla(248, 100%, 70%, 1);
  --color-b-3: hsla(248, 100%, 73%, 1);
  --color-b-4: hsla(248, 80%, 64%, 0.41);
  --color-b-5: hsla(248, 80%, 64%, 0.28);
  --color-b-6: hsla(248, 80%, 64%, 0.12);
  --color-b-7: hsla(248, 80%, 64%, 0.06);
}