@mixin box-shadow {
  // Box shadow weights
  --box-shadow-x: 1px;
  --box-shadow-y: 1px;
  --box-shadow-blur: 4px;
  --box-shadow-spread: 4px;
  --box-shadow-color: 4px;

  --box-shadow-light: 
    var(--box-shadow-x) 
    var(--box-shadow-y) 
    var(--box-shadow-blur) 
    var(--box-shadow-spread)
    rgba(17, 13, 41, 0.08);

  --box-shadow-heavy: 
    calc(var(--box-shadow-x) * 2) 
    calc(var(--box-shadow-y) * 2) 
    calc(var(--box-shadow-blur) * 2)
    calc(var(--box-shadow-spread) * 2)
   rgba(17, 13, 41, 0.16);
}
